@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
.yo{
    font-family: 'Roboto Condensed', sans-serif;
}
.dis{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}
.let{
    font-family: 'Questrial', sans-serif;
}
.pad{
    padding: 10px;
}
.nav{
    box-shadow: 0px 3px rgba(163, 163, 163, 0.1)  ;

}
.test{
    margin-right: 5%;
}
.had{
    position: fixed;
    margin-left: 4%;
    width: 90%;
    background-color: rgb(255, 255, 255);
    
}
.lin{
    font-family: 'Staatliches', cursive !important;
    margin-left: 4%;
}
.lin1{
    font-family: 'Staatliches', cursive !important;    
}
.py-x{
    padding-top: 2rem;
    padding-bottom: 6rem;
}
.pb-24 {
    padding-bottom: 4rem;
}
.mar{
    margin-left: 12%;
}
.pt-16 {
    padding-top: 3rem !important;
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 444 246 / var(--tw-bg-opacity)) ;
}